<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>User Directory</title>
</head>
<body>

<p><i>Имя :<c:out value="${user.username}"/></i></p>
<p><i>Email :<c:out value="${user.email}"/></i></p>

<form method="post" action="${pageContext.request.contextPath}/admin/create">

    <p><i>Имя: <label>
        <input type="text" name="name">
    </label></i></p>
    <p><i>Email: <label>
        <input type="text" name="email">
    </label></i></p>

    <p><input type="submit" value="Create"/><br></p>
</form>

</body>
</html>
