<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title> Admin panel </title>
    <link href="signin.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</head>
<body>
<h2> ИЗМЕНЕНИЕ ПОЛЬЗОВАТЕЛЯ</h2>
<br>
<div class="row no-gutters ">
    <div class="col-4 justify-content-center">
        <br>

        <table class="table table-hover text-center"
               style="background-color: white; ; padding-left: 450px; padding-right: 450px">
            <tr>

                <form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:form th:object="${user}">
                    <div>
                        <label for="name"> Введите Имя и Фамилию: </label>
                        <input id="name" th:field="*{username}" type="text"/>
                        <br> <br>
                        <label for="address">Введите адрес: </label>
                        <input id="address" th:field="*{email}" type="text"/>
                        <br> <br>
                        <label for="email">Введите пароль: </label>
                        <input id="email" th:field="*{password}" type="text"/>
                        <br> <br>
                        <div class="form-group text-center">
                            <label class="font-weight-bold"
                                   for="exampleRoleSelect2">Role</label>
                            <select multiple size="2" name="roleSet"
                                    class="form-control"
                                    id="exampleRoleSelect2">
                                <option value="ROLE_ADMIN">ADMIN</option>
                                <option value="ROLE_USER">USER</option>
                            </select>
                        </div>

                        <input th:value="Изменить" type="submit"/>
                    </div>
                </form>
            </tr>
        </table>
    </div>
</div>
</body>

</html>